/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
/* Navbar */
nav{
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 800;
}
nav ul li {
  margin: 0.3rem;
  padding: 5px;
}

nav ul li a:after, a.active:after {
    content:'';
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s;
}
nav ul li a:hover:after{
    transform-origin: bottom left;
                transform: scaleX(1);
               
           }


 nav ul li a{
  text-decoration: none;
  font-size: 1rem;
  margin-top: 0.5rem;
  letter-spacing: 2px;
  font-weight: bold;
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: white;
  font-family: 'Poppins', sans-serif;
  padding: 15px ;
}
nav ul li a:hover{
    color: white;
}
.img{
  border-radius: 100%;
}
.intro{
    background: url('https://images.pexels.com/photos/234527/pexels-photo-234527.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-size: cover;
    height: 49.5rem;
    padding-top: 7.5rem;
    background-attachment: fixed;
}
.intro-components h1{
    font-family: 'Roboto', sans-serif;
    font-size: 12.5rem;
    color: #eee;
    font-weight: 800;
    transition: 0.5s;
    letter-spacing: 2px;

}
.intro-components h1:hover{
    letter-spacing: 10px;
}
.intro-components p{
    color: #eee;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
    width: 70%;
    margin: 0 auto;
    display: inline-block;
    font-size: 3rem;
}
.intro-components p:after{
    content: '';
    display: inline-block;
    background-color: white;
    margin-left: 2px;
    height: 25px;
    width: 4px;
    animation: cursor 0.4s infinite;
}
@keyframes cursor {
    0% { opacity: 1; }
      49% { opacity: 1; }
      50% { opacity: 0; }
      100% { opacity: 0; }
}
.header{
    width: 100vw;
    height: 5vw;
    background: transparent;
    display: text;
    align-items: center;
    position: fixed;
    transition: all 0.3s;
    color: white;
  }
  div{
    display:grid;
    place-items: center;
  }
  .home{
    height: 90vh;
    background: #000;
    color: #fff;
    font-size: 5rem;

  }
  .about,.services{
    background: #fff;
    height: 100vh;
    color: #000;
  }
  .change{
    background: #111;
    position: fixed;
  }
  .btnEntrance {
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-name: btnEntrance;
  }
  @keyframes btnEntrance {
    from {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
    }
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
  
  .btnExit {
    animation-duration: 0.25s;
    animation-fill-mode: both;  
    animation-name: btnExit;
  }
  @keyframes btnExit {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
    }
  }
  #back-to-top-btn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 26px;
    width: 50px;
    height: 50px;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    outline: none;
    border: 3px solid #333;
    border-radius: 50%;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-property: background-color, color;
  }
  #back-to-top-btn:hover, #back-to-top-btn:focus {
    background-color: #333;
    color: #fff;  
  }
  ::-webkit-scrollbar {
    width: 10px;
} 
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    width: 15px;
    background: #000;
} 
::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    width: 15px;
    background: #eee;
}